@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;500;700&family=Roboto:ital,wght@0,300;0,500;1,300;1,500&display=swap");
/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Customize container */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
}

.header-container {
  max-width: 1050px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .header-container {
    max-width: 700px;
  }
}

@media (max-width: 320px) {
  .header-container {
    max-width: 300px;
  }
}

.header .head-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 769px) {
  .header .head-logos {
    margin-right: 0;
  }
}

.header .head-logos .head-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 52px;
}

@media (max-width: 768px) {
  .header .head-logos .head-logo {
    margin-left: 25px;
  }
}

@media (max-width: 555px) {
  .header .head-logos .head-logo {
    margin-left: 20px;
  }
}

@media (max-width: 400px) {
  .header .head-logos .head-logo {
    margin-left: 15px;
  }
}

@media (max-width: 320px) {
  .header .head-logos .head-logo {
    margin-left: 15px;
  }
}

.header .head-logos .head-logo a img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .header .head-logos .head-logo a img {
    max-width: 118px;
  }
}

@media (max-width: 550px) {
  .header .head-logos .head-logo a img {
    max-width: 90px;
  }
}

@media (max-width: 461px) {
  .header .head-logos .head-logo a img {
    max-width: 70px;
    max-height: 70px;
  }
}

@media (max-width: 400px) {
  .header .head-logos .head-logo a img {
    max-width: 60px;
    max-height: 60px;
  }
}

@media (max-width: 320px) {
  .header .head-logos .head-logo a img {
    max-width: 56px;
    max-height: 40px;
  }
}

.header .nav_item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.1;
  position: relative;
  margin-right: 16px;
}

@media (max-width: 768px) {
  .header .nav_item {
    margin-right: 0;
  }
}

.header .nav_item:before {
  content: "";
  border: 0.5px solid #8e8e8e;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 24px;
  position: absolute;
  left: -20px;
  top: 5px;
}

@media (max-width: 768px) {
  .header .nav_item:before {
    display: none;
  }
}

@media (max-width: 1060px) {
  .header .nav {
    margin-left: 20px;
  }
}

@media (max-width: 320px) {
  .header .nav {
    margin-left: 0;
  }
}

.header .nav_link {
  color: #8e8e8e;
  cursor: pointer;
}

.header .nav_link:hover {
  text-decoration: none;
}

.header .desc-menu {
  display: block;
}

@media (max-width: 768px) {
  .header .desc-menu {
    display: none;
  }
}

.header .mob-menu {
  display: none;
}

@media (max-width: 768px) {
  .header .mob-menu {
    display: block;
  }
}

@media (max-width: 400px) {
  .header .mob-menu img {
    max-width: 40px;
  }
}

@media (max-width: 320px) {
  .header .mob-menu img {
    max-width: 30px;
  }
}

.header .dropdown-menu-header {
  color: #a6163f;
  font-family: Roboto Slab;
  font-weight: 500;
  font-size: 24px;
  padding-top: 20px;
}

@media (max-width: 320px) {
  .header .dropdown-menu-header {
    padding-top: 0px;
  }
}

.header .dropdown-menu-footer a {
  color: #a6163f;
  font-family: Roboto Slab;
  font-weight: 500;
  font-size: 24px;
}

.main-container {
  max-width: 1050px;
}

@media (max-width: 1152px) {
  .main-container {
    max-width: 100%;
  }
}

.main-container .main-heading {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  letter-spacing: 0.01em;
  color: #a6163f;
}

@media (max-width: 1152px) {
  .main-container .main-heading {
    margin-left: 104px;
  }
}

@media (max-width: 859px) {
  .main-container .main-heading {
    margin-left: 93px;
    margin-left: 40px;
  }
}

@media (max-width: 768px) {
  .main-container .main-heading {
    font-size: 72px;
    margin-left: 20px;
  }
}

@media (max-width: 594px) {
  .main-container .main-heading {
    font-size: 71px;
    margin-left: 0;
  }
}

@media (max-width: 566px) {
  .main-container .main-heading {
    font-size: 61px;
  }
}

@media (max-width: 491px) {
  .main-container .main-heading {
    font-size: 41px;
  }
}

@media (max-width: 340px) {
  .main-container .main-heading {
    font-size: 36px;
  }
}

.main-container .main-img img {
  max-width: 100%;
}

.main-container .main-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.4;
  color: #a6163f;
}

@media (max-width: 1152px) {
  .main-container .main-title {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .main-container .main-title {
    font-size: 23px;
  }
}

@media (max-width: 320px) {
  .main-container .main-title {
    font-size: 18px;
  }
}

.main-container .main-subtitle {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  color: #a6163f;
  margin-bottom: 70px;
  margin-top: -70px;
  position: relative;
}

@media (max-width: 1152px) {
  .main-container .main-subtitle {
    font-size: 24px;
    margin-top: -20px;
  }
}

@media (max-width: 768px) {
  .main-container .main-subtitle {
    margin-bottom: 10px;
  }
}

.main-container .main .about {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .main .about p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
}

@media (max-width: 1152px) {
  .main-container .main .about p {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .main-container .main .about p {
    font-size: 14px;
  }
}

.main-container .main .row {
  margin-bottom: 100px;
}

@media (max-width: 1152px) {
  .main-container .main .row {
    margin-bottom: 50px;
  }
}

@media (max-width: 320px) {
  .main-container .main .row {
    margin-bottom: 30px;
  }
}

.main-container .main .story-text {
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  color: #3c3c3b;
  line-height: 1.4;
}

@media (max-width: 1152px) {
  .main-container .main .story-text {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .main-container .main .story-text {
    font-size: 15px;
  }
}

@media (max-width: 320px) {
  .main-container .main .story-text {
    font-size: 16px;
  }
}

.main-container .main .stry-img {
  margin-top: -140px;
  float: right;
}

.main-container .main .decor-img {
  position: relative;
  bottom: -56px;
  -webkit-transform: rotate(1.39deg);
          transform: rotate(1.39deg);
  left: -20%;
}

@media (max-width: 874px) {
  .main-container .main .decor-img {
    display: none;
  }
}

.main-container .main .decor-img-2 {
  position: relative;
  bottom: -96px;
  -webkit-transform: rotate(1.39deg);
          transform: rotate(1.39deg);
  left: -40%;
}

@media (max-width: 1152px) {
  .main-container .main .decor-img-2 {
    display: none;
  }
}

.main-container .main .decor-img-3 {
  position: absolute;
  display: inline-block;
  bottom: 113%;
  right: -8%;
}

@media (max-width: 1152px) {
  .main-container .main .decor-img-3 {
    right: 0%;
  }
}

@media (max-width: 768px) {
  .main-container .main .decor-img-3 {
    bottom: 170%;
  }
}

.main-container .main .story-arrow1 {
  position: relative;
  left: 63%;
  display: inline-block;
}

@media (max-width: 768px) {
  .main-container .main .story-arrow1 {
    left: 96%;
  }
}

@media (max-width: 576px) {
  .main-container .main .story-arrow1 {
    left: 85%;
  }
}

@media (max-width: 467px) {
  .main-container .main .story-arrow1 {
    left: 79%;
  }
}

@media (max-width: 340px) {
  .main-container .main .story-arrow1 {
    left: 76%;
  }
}

.main-container .main .story-arrow2 {
  position: relative;
  left: 0%;
  display: block;
  float: right;
}

.main-container .main .story-arrow3 {
  position: absolute;
  right: 0;
  display: inline-block;
}

@media (max-width: 768px) {
  .main-container .main .story-arrow3 {
    right: 15px;
  }
}

.main-container .main .story-arrow4 {
  position: absolute;
  right: 18%;
  display: inline-block;
}

@media (max-width: 320px) {
  .main-container .main .story-arrow4 {
    left: 74%;
  }
}

.main-container .main .story-arrow5 {
  position: absolute;
  right: -5%;
  display: inline-block;
}

@media (max-width: 576px) {
  .main-container .main .story-arrow5 {
    right: 5%;
  }
}

.main-container .mob {
  float: right;
  margin-right: 20%;
  margin-top: -9%;
}

.main-container .mt {
  margin-top: 120px !important;
}

@media (max-width: 320px) {
  .main-container .mt {
    margin-top: 20px !important;
  }
}

@media (max-width: 576px) {
  .main-container .sm-img {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .main-container .sm-img {
    margin-bottom: 50px;
  }
  .main-container .sm-img img {
    max-width: 100%;
  }
}

.lir-container {
  max-width: 708px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (max-width: 320px) {
  .lir-container {
    max-width: 280px;
  }
}

@media (max-width: 576px) {
  .lir-image {
    text-align: center;
    margin: 20px 0;
  }
  .lir-image img {
    max-width: 100%;
  }
}

.lir-logos {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 24px;
}

.lir-logo {
  -webkit-box-flex: unset;
      -ms-flex-positive: unset;
          flex-grow: unset;
  padding: 0;
}

.lir-header {
  position: relative;
  width: 1110px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 100;
}

.lir-navigation {
  position: absolute;
  top: 137px;
  left: -142px;
}

.lir-main-img {
  margin-bottom: 26px;
  text-align: center;
}

.lir-main-img img {
  max-width: 100%;
}

.lir-heading {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #1d1d1b;
  margin-bottom: 22px;
  line-height: 1.3;
}

@media (max-width: 320px) {
  .lir-heading {
    font-size: 24px;
  }
}

.lir-lid {
  font-family: "Roboto", serif;
  font-weight: 500;
  margin-bottom: 13px;
  position: relative;
  line-height: 1.2;
}

.lir-lid::before {
  content: "";
  position: absolute;
  top: 1px;
  bottom: 1px;
  width: 16px;
  left: -40px;
  background-color: #a6163f;
}

@media (max-width: 768px) {
  .lir-lid::before {
    display: none;
  }
}

@media (max-width: 320px) {
  .lir-lid {
    font-size: 16px;
  }
}

.lir-text p {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 17px;
  line-height: 1.2;
}

.lir-text p a {
  color: #a6163f;
  text-decoration: none;
}

.lir-pagination__item {
  border-width: 0;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  color: rgba(60, 60, 59, 0.5);
  font-weight: 700;
}

.lir-pagination__item_active {
  color: #a6163f;
  font-size: 24px;
  padding-top: 0;
}

.lir-pagination__item_active:hover {
  color: #a6163f;
}

.lir-nav-stories__btn {
  width: 116px;
  padding: 4px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  background-color: #a6163f;
  text-align: center;
  display: block;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 24px;
}

.lir-nav-stories__btn:hover {
  color: #fff;
  text-decoration: none;
}

.lir-nav-stories__list {
  position: absolute;
  top: 40px;
  left: 0;
  width: 397px;
  background-color: #fff;
  padding: 10px 16px 10px 20px;
  z-index: 100;
}

@media (max-width: 320px) {
  .lir-nav-stories__list {
    width: 200px;
  }
}

.lir-nav-stories__item {
  display: block;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  font-weight: 700;
  color: #a6163f;
  padding: 30px 0px;
  position: relative;
}

@media (max-width: 768px) {
  .lir-nav-stories__item {
    color: #000;
  }
}

@media (max-width: 320px) {
  .lir-nav-stories__item {
    font-size: 14px;
    padding: 10px 0px;
  }
}

.lir-nav-stories__item_current {
  color: rgba(60, 60, 59, 0.5);
}

.lir-nav-stories__item a {
  color: currentColor;
  text-decoration: none;
  display: block;
}

.lir-nav-stories__item:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 1px;
  background-color: rgba(60, 60, 59, 0.5);
}

@media (max-width: 768px) {
  .lir-nav-stories__item:after {
    background-color: #a6163f;
  }
}

.lir-nav-stories__item:last-of-type:after {
  content: none;
}

@media (max-width: 320px) {
  .lir-nav-stories__item:last-of-type:after {
    content: "";
  }
}

.nav-arrow {
  position: relative;
  text-align: right;
}

.footer {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: 100;
}
